
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#/characters" type="button" class="btn btn-link"> Voltar a tela inicial </a>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img ng-src="{{character.thumbnail.path + '/standard_large.jpg'}}" class="d-inline-block w-100 rounded">
        </div>
        <div class="col-md-10">
            <h4 class="text-primary h2"> Personagem: <strong class="text-dark">{{character.name}}</strong> </h4>
            <p class="text-gray">
                {{character.description}}
            </p>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <p class="h5"> Historias em quadrinhos </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comics in character.comics.items">
                            <th scope="row"><p style="font-weight: 400;"> {{comics.name}} </p></th>                            
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <p class="h5"> Historias em serie </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="serie in character.series.items">
                            <th scope="row"><p style="font-weight: 400;"> {{serie.name}} </p></th>                            
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <p class="h5"> Histórias </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="story in character.stories.items">
                            <th scope="row"><p style="font-weight: 400;"> {{story.name}} </p></th>                            
                            <th scope="row"><p style="font-weight: 400;"> {{story.type}} </p></th>                            
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <p class="h5"> Eventos </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in character.events.items">
                            <th scope="row"><p style="font-weight: 400;"> {{event.name}} </p></th>                            
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>